.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    /*header sticks on the top when scrolling down*/
    top: 0;
    /*this takes priority over other webpage layers*/
    z-index: 100;
}

.header__logo {
    width: 100px;
    /*always keep img ratio*/
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    cursor: pointer;
}

.header__searchIcon {
    background-color: orange;
    padding: 5px;
    /* "!important" ignore material ui css */
    /* apply self-defined height*/
    height: 22px !important;
    cursor: pointer;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    
}

.header__optionLineOne {
    font-size: 10px;
    color: gray;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.nav__second {
    display: flex;
    background-color: #212b38;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}

.nav__secondBarLeft {
    display: flex;
    min-width: 200px;
}

.nav__secondBarLeft > h3 {
    font-size: medium;
    padding: 0 3px;
}

.nav__secondBarMid{
    font-size: small;
    display: flex;
    width:100%;
    justify-content: space-evenly;
}

.nav__secondBarRight {
    min-width: 250px;
    font-size: small;
}